@using TimeOffTracker.Models;
@using TimeOffTracker.Controllers;
@model IList<ShowUserViewModel>

@if (Model.Count != 0)
{
    <link rel="stylesheet" href="~/Content/PanelTable.css">
    <div id="partUser">
        <table class="table table-striped">
            @foreach (var user in Model)
            {
                if (user.LockoutTime == null)
                {
                    <tr>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.EmploymentDate</td>
                        <td>@user.AllRoles</td>
                        <td>
                            @using (Html.BeginForm("ConfirmSwitchLockoutUser", "Admin", FormMethod.Get))
                            {
                                <input type="hidden" value="@user.Email" name="email" />
                                <button class="btn btn-danger btn-xs" type="submit">Lock account</button>
                            }
                            @using (Html.BeginForm("EditUser", "Admin", FormMethod.Get))
                            {
                                <input type="hidden" value="@user.Email" name="email" />
                                <button class="btn btn-default btn-xs" type="submit">Edit account</button>
                            }
                            @using (Html.BeginForm("EditUserVacationDays", "Admin", FormMethod.Get))
                            {
                                <input type="hidden" value="@user.Email" name="email" />
                                <button class="btn btn-warning btn-xs" type="submit">Vacation control</button>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="danger">
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        <td>@user.EmploymentDate</td>
                        <td>@user.AllRoles</td>
                        <td>
                            @using (Html.BeginForm("ConfirmSwitchLockoutUser", "Admin", FormMethod.Get))
                            {
                                <input type="hidden" value="@user.Email" name="email" />
                                <button class="btn btn-success btn-xs" type="submit">Unlock account</button>
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
}